<div class="container mt-4">
  <h2>Students</h2>
  <button class="btn add-student mb-3" (click)="addStudent()">
    Add Student
  </button>
  <div class="table-responsive">
    <table class="student-table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Course</th>
          <th>Level</th>
          <th>Grades</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.course }}</td>
          <td>{{ student.level }}</td>
          <td><a href="grades" class="link">View Grades</a></td>
          <td>
            <button class="btn action-btn edit" (click)="addStudent()">
              Edit
            </button>
            <button
              class="btn action-btn delete"
              (click)="deleteStudent(student.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
