<div class="container mt-4">
  <h2>Student</h2>
  <form [formGroup]="addForm" (ngSubmit)="addStudent()">
    <div class="form-group">
      <label for="firstName">Name</label>
      <input
        type="text"
        id="firstName"
        formControlName="firstName"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        formControlName="lastName"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="course">Course</label>
      <select
        id="course"
        class="form-control"
        formControlName="course"
        required
      >
        <option value="BIS">BIS</option>
        <option value="Finance">Finance</option>
        <option value="Law">Law</option>
        <option value="Business Management">Business Management</option>
        <option value="EcoFin">EcoFin</option>
      </select>
    </div>

    <div class="form-group">
      <label for="level">Level</label>
      <select id="level" class="form-control" formControlName="level" required>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </div>

    <button class="btn btn-primary" [disabled]="addForm.invalid" type="submit">
      Save
    </button>
  </form>
</div>
